#root {
  min-width: 100%;
  height: 100vh;
  text-align: center;
}


.app-screen {
  max-width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.right-side {
  width: 40%;
  padding: 24px 32px;
  padding-bottom: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;
}

.left-side {
  width: 60%;
  height: 100vh;
}